@charset "utf-8";
@font-face {
	font-family: Glacial Indifference;
	src: url('glacial-indifference.regular.otf') format('OpenType');
}
/*
	Azlyn Fendrick
	5 December 2022
	CMIS Final Project

	Website template based on Tutorial 2: Tri andf Suceed Sports.
*/

/* HTML and Body Styles */

	html {
		background-color: #00a6b8;
	}

	body {
		color: #048694;
		background-color: white;
		font-family: Verdana, Geneva, sans-serif;
	}

/* Heading Styles */

	h1 {
		font-size: 2.2em;
	}
	
	h2 {
		font-size: 1.5em;
	}

	h1, h2 {
		font-family: Glacial Indifference, Verdana, Geneva, sans-serif;
		letter-spacing: 0.1em;
	}

	article#about_aac h1, article#about_aac h2 {
		color: white;
		background-color: #ffe653;
	}
	
	article#price_aac h1 {
		color: white;
		background-color: #00a6b8;
	}

/* Aside and Blockquote Styles */

	aside {
		font-size: 0.8em;
	}

	aside blockquote {
		color: #00a6b8;
		margin: 20px 5px;
		quotes: "\201C" "\201D";
	}
	
	aside-blockquote::before {
		content: open-quote;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.6em;
		font-weight: bold;
	}
	
	aside-blockquote::after {
		content: close-quote;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1.6em;
		font-weight: bold;
	}

/* Navigation Styles */	

	nav {
		font-size:0.8em;
	}	

	nav > ul {
		line-height: 2em;
		list-style-type: none;
		padding-left: 5px;
	}
	
	nav > ul > li.newgroup {
		margin-top: 20px;
	}
	
	nav > ul > li > a:link, nav > ul > li > a:visited {
		color: #048694;
		text-decoration: none;
	}
	
	nav > ul > li > a:hover, nav > ul > li > a:active {
		color: #c2fff9;
		text-decoration: underline;
	}

/* List Styles */

	article#about_aac ul li:first-of-type{
		list-style-image: url(runicon.png);
	}
	
	article#about_aac ul li:nth-of-type(2){
		list-style-image: url(bikeicon.png);
	}
	
	article#about_aac ul li:last-of-type{
		list-style-image: url(swimicon.png);
	}

	article.syllabus ol {
		list-style-type: upper-roman;
	}
	
	article.syllabus ol ol {
		list-style-type: upper-alpha;
	}
	
	article.syllabus ol ol ol {
		list-style-type: decimal;
	}

/*Body Styles*/

	.title {
		font-weight: bold;
	}

/*Table Styles*/

	table, th, td {
		border: 1px solid white;
		border-collapse: collapse;
		border-radius: 10px;
	}
	
	th, tr:nth-child(odd) {
		background-color: #ffe653;
	}

/* Footer Styles */

	body > footer address {
		background-color: #048694;
		color: white;
		font: normal small-caps bold 0.9em/3em
			  Glacial Indifference, Verdana, Geneva, sans-serif;
		text-align: center;
	}

	.footer:link, .footer:visited {
		color: white;
		text-decoration: none;
	}
	
	.footer:hover, .footer:active {
		color: #ffe653;
		text-decoration: none;
	}
	
	footer > address > a > img.insta{
		height: 3%;
		width: 3%;
	}
		
	footer > address > a > img.etsy {
		height: 3.5%;
		width: 3.5%;
	}
	